[submodule "submodules/flutter"]
	path = submodules/flutter
	url = https://github.com/flutter/flutter
[submodule "fonts/Bitstream-Charter"]
	path = fonts/Bitstream-Charter
	url = git@github.com:davidseegert/Bitstream-Charter.git
